name: Security Audit

on:
  push:
    branches: [ "main" ]
    tags-ignore:
      - '**'
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_BUILD_JOBS: 2 

jobs:
  miri-check:
    name: MIRI Safety Checks
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust Nightly with MIRI
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: miri

      - name: Run MIRI
        env:
          MIRIFLAGS: "-Zmiri-symbolic-alignment-check"
          RUSTFLAGS: "-C target-feature=+avx512f,+avx512bw"
        run: |
          echo "Running MIRI..."
          # Runs Unit Tests, Integration Tests, Binaries, and Examples in one pass
          cargo miri test --lib --bins --tests --examples
